.tab-list {
}
.tab-list-item {
  display: inline-block;
  border: 1px solid white;
  padding: 1em 2em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #337ab7;
  color: white;
  border-bottom: none;
}
.tab-list-active {
  color: white;
  background: #5cb85c;
}
.tab-content {
  margin: 2em;
  border: 1px solid grey;
  min-width: 90%;
  min-height: 80vh;
}
